<footer class="footer">
    <p>Build with <span class="love">❤</span> by <a href="https://github.com/lauthieb">Laurent Thiebault</a>.</p>
    <p style="font-size: 10px; margin-top: 0">Thanks to <a href="https://github.com/nrandecker">Nathan Randecker</a> for this theme.</p>
</footer>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
