<div class="user-details">
  <h1> Personal Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="code notes logo" src="{{ "/assets/img/code-notes.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Code Notes </h3>
    <p>Code Notes is a simple code snippet & gist manager for developers built with Electron & Vue.js 🚀. The aim of this project is to make us more efficient by offering a pretty cool tool : a king of notepad for our code 😃📝.</p>
    <a class="project-link" href="https://lauthieb.github.io/code-notes" target="_blank">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="food limit logo" src="{{ "/assets/img/food-limit.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Food Limit </h3>
    <p>It's a university project. This application of food management aims to simplify our life by providing a good way to integrate what we are going to eat and avoid food waste.</p>
    <a class="project-link" href="https://github.com/food-limit" target="_blank">Check it out</a>
  </div>
</div>
