<div class="user-details">
    <h1> Talks </h1>
</div>
<div class="user-talks">
    <div class="images-right">
        <img alt="electron logo" src="{{ "/assets/img/electron.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
        <h3> Desktop apps with Electron </h3>
        <p>In this talk I explain how to create awesome desktop apps with Electron by Github. I also code a songbox in live coding.</p>
        <a class="talk-link" href="http://bit.do/lauthieb-electron" target="_blank">Check it out</a>
    </div>
</div>
<div class="user-talks">
    <div class="images-left">
        <img alt="chatbots logo" src="{{ "/assets/img/chatbots.jpg" | prepend: site.baseurl }}"/>
    </div>
    <div class="contents-right">
        <h3> Chatbots with Recast.ai </h3>
        <p>In this talk I speak about chatbots, NLP, intents... and how to create a simply chatbot with Recast.ai. I also code a chatbot "illico-resto" in live coding.</p>
        <a class="talk-link" href="http://bit.do/lauthieb-chatbots" target="_blank">Check it out</a>
    </div>
</div>
